spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8080
          predicates:
            - Path=/orders,/orders/**
          filters:
            - RewritePath=/orders(?<segment>/?.*), /api/orders$\{segment}

        - id: payment-service
          uri: http://payment-service:8080
          predicates:
            - Path=/payments,/payments/**
          filters:
            - RewritePath=/payments(?<segment>/?.*), /api/payments$\{segment}

        - id: inventory-service
          uri: http://inventory-service:8080
          predicates:
            - Path=/inventory,/inventory/**
          filters:
            - RewritePath=/inventory(?<segment>/?.*), /api/inventory$\{segment}

        - id: notification-service
          uri: http://notification-service:8080
          predicates:
            - Path=/notifications,/notifications/**
          filters:
            - RewritePath=/notifications(?<segment>/?.*), /api/notifications$\{segment}

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG